
.cards-container{
  height: 100%;
  width: 92vw;
  display: grid;
  place-items: center;
  font-family: system-ui, sans-serif;
}

.cards {
  display: grid;
  grid-template-areas: "cards";
  padding: 0;
}

.card {
  grid-area: cards;
  display: flex;
  width: 35vh;
  aspect-ratio: 707 / 540;
  border-radius: 20px;
  background-color: #f0f0f0;
  background-image: url(/card-x.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card-text {
  grid-area: cards;
  display: flex;
  width: 40vh;
  margin: 20px;
  aspect-ratio: 540 / 707;
  border-radius: 20px;
  background-color: #f0f0f0;
  background-image: url(/card-y.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  color: black;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 80%;
}



