:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button{
  font-family: 'Glacial Indifference Regular', sans-serif !important;
  background: black;
  appearance: none;
  border: 2.5px solid black;
  color: #F9ECE5;
  border-radius: 20px;
  font-size: 18px;
  padding: 4px 20px;
  width: fit-content;
  align-self: center;
}

@font-face {
  font-family: 'Glacial Indifference Regular';
  src: url('/fonts/GlacialIndifference-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url('/fonts/GlacialIndifference-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Glacial Indifference Regular', sans-serif !important;
}

.text-bold{
  font-family: 'Glacial Indifference Bold', sans-serif;
}

.text{
  font-family: 'Glacial Indifference Regular', sans-serif !important;
  text-align: center;
  margin-top: 0;
  font-size: 4vh;
  flex: 1;
  align-content: center;
}